:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(100, 100, 100);
  --black: rgb(0, 0, 0);
  --blue: rgb(109, 170, 248);
  --brown: rgb(245, 167, 79);
}

.black {
  --main: var(--black);
  --second: var(--gray);
  --accent: var(--white);
}

.blue {
  --main:var(--blue)
}

.brown {
  --main:var(--brown)
}

.gray {
  --main:var(--gray)
}

.green {

}

.pink {

}

.purple {

}

.red {

}

.white {

}

.yellow {

}

#pokeimage {
  padding: 10px;
}

button {
  height: 30px;
  width: 100px;
}

.color-button {
  padding: 10px;
}

#main {
  background-color: var(--main);
}

#secondary {
  background-color: var(--second);
}

#accent {
  background-color: var(--accent);
}