:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(100, 100, 100);
  --black: rgb(0, 0, 0);
}

.black {
  --main: var(--black);
  --second: var(--gray);
  --accent: var(--white);
}

.blue {

}

.brown {

}

.gray {

}

.green {

}

.pink {

}

.purple {

}

.red {

}

.white {

}

.yellow {

}

body {
  background-color: var(--main);
  color: var(--accent);
}

.tabs {
  background-color: var(--accent);
  padding: 5px, 50px;
}

#current-tab {
  background-color: var(--main);
}

#background-tab {
  background-color: var(--second);
  border: 5px, dotted, white;
}

